@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor-branca-body: #FCF8FC;
    --cor-branca-text: #ffffff;
    --cor-branca-div: #ffffff;
    --cor-amarelo: #FFC300;
    --cor-cinza-fundo: #DEDADE;
    --cor-cinza-texto: #4D4950;
}

body {
    position: relative;
    background-color: var(--cor-branca-body);
    width: 100vw;
    height: 100vh;
}

/*================================= HEADER =================================*/

header {
    background-color: var(--cor-amarelo);
    color: var(--cor-branca-text);
    text-align: center;
    padding-bottom: 3px;
}

header h1 {
    padding: 15px;
    font-size: 2.5em;
    margin-bottom: 10px;
}

.cor-cinza {
    color: var(--cor-cinza-texto);
}

header span#burguer {
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    cursor: pointer;
}

header span#burguer:hover {
    background-color: var(--cor-branca-text);
    color: var(--cor-amarelo);
    transition-duration: 0.4s;
}

header menu {
    display: none;
}

header ul > li {
    margin-bottom: 5px;
    list-style-type: none;
}

header ul > li > a {
    display: block;
    color: var(--cor-branca-text);
    width: 90%;
    font-weight: bold;
    font-size: 1em;
    text-decoration: none;
    padding: 5px;
    margin: auto;
    border-radius: 5px;
}

header ul > li > a:hover {
    background-color: var(--cor-branca-text);
    color: var(--cor-amarelo);
    transition-duration: 0.4s;
}

/*================================= POSTAGENS =================================*/

main {
    position: relative;
    width: 95%;
    margin: auto;
}

main div.postagem {
    background-color: var(--cor-branca-div);
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.132);
    transition: width 0.4s;
    transition-timing-function: ease;
}

main div.postagem > h2 {
    color: var(--cor-amarelo);
    font-size: 2em;
}

main div.postagem > p {
    margin-bottom: 10px;
}

main div.postagem > img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 10px;
}

main a {
    color: var(--cor-amarelo);
    width: 100px;
    text-decoration: none;
    margin-bottom: 5px;
}

main div.postagem > a:hover {
    text-decoration: underline;
    transition-duration: 0.4s;
}

main div.clear {
    clear: both;
}

/*================================= BLOCOS AO LADO  =================================*/

main div.lateral-direita {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
}

main div.lateral-direita > div.bloco {
    background-color: var(--cor-branca-div);
    padding: 10px;
    margin-top: 10px;
    width: 210px;
    border-radius: 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.132);
    transition: width 0.4s;
    transition-timing-function: ease;
}

main div.lateral-direita > div.bloco > h2 {
    background-color: var(--cor-cinza-fundo);
    color: var(--cor-cinza-texto);
    font-size: 1.2em;
    padding: 5px;
    border-radius: 5px;
    margin-bottom: 5px;
}

main div.lateral-direita > div.bloco > p, a, hr {
    display: block;
    font-size: 0.9em;
    margin-bottom: 5px;
}

main div.lateral-direita > div.bloco > a:hover {
    text-decoration: underline;
    transition-duration: 0.4s;
}

/*================================= FOOTER =================================*/

footer {
    background-color: var(--cor-cinza-fundo);
    width: 90%;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;
}
