@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor-letra-menu: #968D4C;
    --cor-branca: #f2f2f2;
}

body {
    background-color: #f2f2f2;
    width: 100vw;
    height: 100vh;
}

div#container {
    position: relative;
    background: url(../imagens/topo-imagem-principal.png) left top no-repeat;
    width: 95%;
    min-width: 800px;
    max-width: 1250px;
    margin: auto;
    margin-top: 10px;

}

/*============================================ HEADER ========================================*/

header {
    width: 100%;
    height: 250px;
}

/*===== imagem logo chalé hotel ====*/
header > img {
    position: absolute;
    top: 2%;
    left: 1%;
}

/*===== background cortado ====*/
header div#menu {
    float: right;
    background: url(../imagens/topo-imagem-lateral.png) left center no-repeat;
    color: var(--cor-letra-menu);
    width: 515px;
    height: 250px;
}

header div#menu div#menu-conteudo {
    position: relative;
    float: right;
    width: 410px;
    margin-top: 10px;
    margin-right: 10px;
}

header div#menu div#menu-conteudo p {
    font-size: 0.8em;
    padding: 5px 0;
    border-top: 1px solid var(--cor-letra-menu);
    border-bottom: 1px solid var(--cor-letra-menu);
}

header div#menu div#menu-conteudo p input[type=button] {
    background-color: var(--cor-letra-menu);
    color: var(--cor-branca);
    padding: 5px;
    margin-left: 75px;
    border: none;
    cursor: pointer;
}

header div#menu div#menu-conteudo p input[type=button]:hover {
    background-color: var(--cor-branca);
    color: var(--cor-letra-menu);
    transition-duration: 0.4s;
}

header div#menu div#menu-conteudo menu ul {
    list-style-type: none;
}

header div#menu div#menu-conteudo menu ul li {
    margin: 15px 0;
}

header div#menu div#menu-conteudo menu ul li a {
    color: var(--cor-letra-menu);
    font-size: 0.9em;
    padding: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

header div#menu div#menu-conteudo menu ul li a:hover {
    background-color: rgba(255, 255, 255, 0.268);
    transition-duration: 0.4s;
}

header div#menu div#menu-conteudo img {
    position: absolute;
    top: 25%;
    right: 10%;
}

/*============================================ DIV BG ========================================*/

div#bg-principal {
    float: left;
    background: url(../imagens/bg-area-principal.png) top center repeat-x;
    width: 50%;
    height: 48px;
}

div#bg-lateral {
    float: right;
    background: url(../imagens/bg-area-lateral.png) top center repeat-x;
    width: 50%;
    height: 48px;
}

/*======================================= SECTION CONTEUDO ===================================*/

section#conteudo {
    clear: both;
    background: url(../imagens/bg-container.png) center center repeat-y;
    width: 100%;
    height: 400px;
}

@media screen and (max-width: 1040px) {
    section#conteudo {
        height: 500px;
    }
}

/*========= conteudo principal ==========*/
section#conteudo #conteudo-principal {
    float: left;
    width: 50%;
    margin-top: -20px;
}

section#conteudo #conteudo-principal h1 {
    color: var(--cor-letra-menu);
    margin: 0px 15px 10px 15px;
}

section#conteudo #conteudo-principal p {
    text-align: justify;
    margin: 0px 15px 10px 15px;
}

/*========= conteudo lateral ==========*/
section#conteudo #conteudo-lateral {
    float: right;
    width: 50%;
    margin-top: -20px;
}

section#conteudo #conteudo-lateral a {
    float: left;
    display: block;
    color: black;
    width: 90%;
    text-decoration: none;
    padding: 10px;
    margin: 0px 15px 10px 15px;
    border-bottom: 1px solid white;
}

section#conteudo #conteudo-lateral a:hover {
    background-color: rgba(255, 255, 255, 0.305);
    transition-duration: 0.4s;
}

section#conteudo #conteudo-lateral a img {
    float: left;
    width: 30%;
}

section#conteudo #conteudo-lateral a .descricao {
    float: left;
    width: 60%;
    margin-left: 10px;
}

section#conteudo #conteudo-lateral a .descricao h4 {
    color: var(--cor-letra-menu);
}

/*======================================= FOOTER ===================================*/
#rodape {
    background: url(../imagens/bg-rodape.png) top center repeat-x;
    width: 100%;
}

#rodape footer {
    color: var(--cor-letra-menu);
    font-weight: bold;
    padding: 15px;
}