@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: url('../imagens/fundo.png');
    width: 100vw;
    height: 100vh;
}

section {
    width: 95%;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
    overflow: hidden;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.199);
}

header img {
    width: 100%;
}

header span#burguer {
    display: block;
    background-color: #D4D3BE;
    text-align: center;
    margin-top: -5px;
    padding: 10px;
    cursor: pointer;
}

header menu {
    display: none;
    background-color: #D4D3BE;
    padding: 10px;
    font-size: 0.9em;
}

header menu > ul {
    list-style-type: none;
}

header menu > ul > li {
    background-color: #d0cfbc;
    text-align: center;
    padding: 5px;
    margin-top: 3px;
    border-radius: 5px;
}

header menu > ul > li:hover {
    background-color: #a2a194;
}

header menu > ul > li > a {
    display: block;
    color: #757C85;
    width: 100%;
    text-decoration: none;
}

div {
    background-color: #FDFBED;
    padding: 10px;
    padding-bottom: 0px;
}

div h1 {
    color: #a8a797;
}

div h1, p {
    margin-bottom: 10px;
}

.imagem {
    background-color: #D4D3BE;
    margin-bottom: 10px;
    padding-bottom: 6px;
    border-radius: 5px;
}

.imagem > img {
    border-radius: 5px;
}

footer {
    text-align: center;
    font-weight: bold;
    margin-top: 30px;
}