@charset "UTF-8";

/* Layout
========================================= */
html, body, #home {
    height: 100%;
    overflow-x: hidden;
}

body {
    background: url(../imagens/capa.png),
                url(../imagens/ruido.png),
                linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

/* Formatação Menu Hamburguer
========================================= */
@media (max-width: 767.98px) {
    header ul {
        text-align: right;
    }
}

/* Barra de Navegação
========================================= */
nav.navbar-transparente {
    background: rgba(0, 0, 0, 0.6);
    padding: 15px 0;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #9bf0e1;
}

.navbar-light .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.5);
}

.divisor {
    background-color: white;
    width: 1px;
    margin: 12px 15px;
}

/* Capa
========================================= */
.capa {
    text-align: center;
}

.btn-custom {
    color: white;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 500px;
    transition: background-color 0.4s, color 0.4s;
}

.btn-roxo {
    background-color: #7c5ef8;
}

.btn-roxo:hover {
    background-color: #6207e3;
    color: white;
}

.btn-branco {
    border: 2px solid white;
}

.btn-branco:hover {
    background-color: white;
    color: black;
}

/* Section Serviços
========================================= */
#servicos {
    background-color: white;
}

#servicos h2, #servicos h3 {
    color: #7c26f8;
}

/* Section Recursos
========================================= */
#recursos h2, #recursos h3 {
    color: #9bf0e1;
}

#recursos .rotacionar {
    transform: rotate(30deg);
    padding-left: 80px;
}

/* Section Rodapé
========================================= */
footer {
    position: relative;
    background-color: black;
    padding: 50px 0px 20px 0px;
}

footer h4 {
    color: #919496;
    font-size: 0.8em;
    text-transform: uppercase;
}

footer .navbar-nav a {
    color: white;
    font-size: 0.8em;
}

footer .navbar-nav a:hover {
    color: #9bf0e1;
    text-decoration: none;
}

.redes-sociais {
    list-style-type: none;
}

.redes-sociais li {
    float: right;
    margin: 5px;
}

/* Tipografia
========================================= */
h1 {
    color: white;
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
}

h2 {
    font-size: 3em;
    margin-bottom: 15px;
}

h2, h3 {
    font-weight: 700;
    letter-spacing: -0.05em;
}

/* Media Queries
========================================= */
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .btn-custom {
        margin: 10px 15px;
        font-size: 1em;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    #home h1 {
        font-size: 3em;
    }

    .btn-custom {
        margin: 10px 15px;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    #home h1 {
        font-size: 4em;
    }

    .row-imagens {
        margin-bottom: 20px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    #home h1 {
        font-size: 5em;
    }

    .row-imagens {
        margin-bottom: 20px;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    #home h1 {
        font-size: 6em;
    }

    .row-imagens {
        margin-bottom: 20px;
    }
}

