@charset "UTF-8";

/* Layout
--------------------------------------*/
html, body, #home {
    height: 100%;
    overflow-x: hidden;
}

body {
    background: url(../imagens/capa.png),
                url(../imagens/ruido.png),
                linear-gradient(to right, var(--cor-rosa), var(--cor-roxo));
    background-attachment: fixed;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --cor-rosa: #ff4169;
    --cor-roxo: #7c26f8;
    --cor-ciano: #9bf0e1;
    --cor-roxo-botao: #7c5ef8;
    --cor-roxo-botao-hover: #6207e3;
    --cor-cinza: #919496;
}

/* Topo Navegação
-------------------------------------*/
.navbar-transparente {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 10px 5px;
}

header a {
    color: white;
}

header a:hover {
    color: var(--cor-ciano);
    text-decoration: none;
}

.divisor {
    background-color: white;
    width: 1px;
    margin: 4px 0;
}

.navbar-light .navbar-toggler {
    border-color: rgba(255,255,255,.5);
}

@media (max-width: 767.98px) {
    header li {
        text-align: right;
        margin-bottom: 15px;
    }
}

/* Capa
-------------------------------------*/
.capa {
    text-align: center;
}

.btn-custom {
    color: white;
    padding: 10px 15px;
    font-size: 1.3em;
    text-transform: uppercase;
    border-radius: 500px;
}

.btn-roxo {
    background-color: var(--cor-roxo-botao);
}

.btn-roxo:hover {
    background-color: var(--cor-roxo-botao-hover);
    color: white;
}

.btn-branco {
    border: 2px solid white;
}

.btn-branco:hover {
    background-color: white;
    color: black;
}

.carousel-control-next, .carousel-control-prev {
    width: 5%;
}

/* Serviços
-------------------------------------*/
#servicos {
    background-color: white;
}

#servicos h2, #servicos h3 {
    color: var(--cor-roxo);
}

/* Recursos
-------------------------------------*/
#recursos h2, #recursos h3 {
    color: var(--cor-ciano);
}

.img-recursos {
    transform: rotate(30deg);
    padding-left: 80px;
}

/* Rodapé
-------------------------------------*/
footer {
    position: relative;
    background-color: black;
}

footer ul {
    list-style-type: none;
}

footer a {
    color: white;
}

footer a:hover {
    color: var(--cor-ciano);
    text-decoration: none;
}

.redes-sociais {
    text-align: end;
    margin-top: 20px;
}

@media (min-width: 768px) {
    .devs {
        display: none;
    }
}

/* Tipografia
-------------------------------------*/
h1 {
    color: white;
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
}

h2 {
    font-size: 3em;
    margin-bottom: 15px;
}

h2, h3 {
    font-weight: 700;
    letter-spacing: -0.05em;
}

h4 {
    color: var(--cor-cinza);
    text-transform: uppercase;
    font-size: 0.8em;
}

/* Media Queries
-------------------------------------*/
/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
    .btn-custom {
        font-size: 1em;
        margin: 10px 15px;
    }
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
    h1 {
        font-size: 3em;
    }

    .btn-custom {
        margin: 10px 15px;
    }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
    h1 {
        font-size: 4em;
    }

    .img-servicos {
        margin-bottom: 20px;
    }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
    h1 {
        font-size: 5em;
    }

    .img-servicos {
        margin-bottom: 20px;
    }

    .redes-sociais {
        margin-top: 0;
    }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    h1 {
        font-size: 6em;
    }

    .img-servicos {
        margin-bottom: 20px;
    }

    .redes-sociais {
        margin-top: 0;
    }
}