@charset "UTF-8";

@media screen and (min-width: 768px) {
    header > div, div#principal, footer > div {
        max-width: 750px;
    }

    header div img {
        float: left;
        padding-left: 0;
    }

    header i#burguer {
        display: none;
    }

    header div menu {
        display: block;
        clear: left;
        position: relative;
        padding: 0;
        margin: 0;
        margin-top: 20px;
    }

    header div menu ul {
        float: left;
    }

    header div menu ul li {
        float: left;
        display: inline-block;
        background: url(../imagens/divisor.png) left center repeat-y;
    }

    header div menu ul li a {
        display: inline-block;
        margin: 0;
        padding: 10px 15px;
        border-radius: 0;
    }

    div#principal {
        margin: auto;
    }

    div#principal section#destaque div.bloco-noticia h2 {
        font-size: 1.1em;
    }

    div#principal section#destaque {
        float: right;
        width: 540px;
        font-size: 0.8em;
    }

    div#principal section#destaque > div.bloco-left {
        float: left;
        width: 47%;
    }

    div#principal section#destaque > div.bloco-right {
        float: right;
        width: 44%;
    }

    div#principal section#navegacao {
        float: left;
        width: 190px;
    }

    div#principal section#navegacao > div {
        width: 95%;
        float: left;
    }

    section#destaque div.bloco-lista-noticia > div.conteudo > div.noticia > a.resumo {
        margin-bottom: 5px;
    }

    section#navegacao div.bloco-entrevista > div.conteudo > ul {
        columns: 1;
    }
}

@media screen and (min-width: 992px) {
    header > div, div#principal, footer > div {
        max-width: 950px;
    }

    header div menu ul li a {
        padding: 10px 20px;
    }

    div#principal section#destaque div.bloco-noticia h2 {
        font-size: 1.2em;
    }

    div#principal section#destaque {
        width: 720px;
        font-size: 0.9em;
    }

    div#principal section#destaque > div.bloco-left {
        width: 320px;
    }

    div#principal section#destaque > div.bloco-right {
        width: 340px;
    }

    div#principal section#navegacao {
        float: left;
        width: 200px;
    }
}