@charset "UTF-8";

section#caixa1 {
    background: #dedede url(../imagens/topo.png) top left no-repeat;
    width: 400px;
}

section#caixa1 h2 {
    padding: 10px 20px 0px 20px;
}

section#caixa1 p {
    background: #dedede url(../imagens/baixo.png) bottom left no-repeat;
    padding: 0px 20px 20px 20px;
}

section#caixa2 {
    background: url(../imagens/fundo-arredondamento.png) repeat-y;   
    width: 400px;
}

section#caixa2 h2 {
    background: url(../imagens/topo2.png) left top no-repeat;
    padding: 10px 20px 0px 20px;
}

section#caixa2 p {
    padding: 0px 20px;
}

section#caixa2 .ultimo {
    background: url(../imagens/baixo2.png) bottom left no-repeat;
    padding-bottom: 20px;
}