@charset "UTF-8";

@media screen and (min-width: 600px) {
     header span#burguer {
        display: none;
    }

    header menu {
        display: block;
        margin-top: -5px;
        padding: 15px;
    }

    header menu > ul > li {
        background-color: #D4D3BE;
        display: inline-block;
    }

    header menu > ul > li:hover {
        background-color: #D4D3BE;
    }

    header menu > ul > li > a {
        color: #757C85;
        text-decoration: none;
        font-weight: bold;
        padding-right: 10px;
        padding-left: 10px;
        border-left: 2px solid #757C85;
    }
    
    header menu > ul > li > a#sem-borda {
        border: none;
    }
    
    header menu > ul > li > a:hover {
        text-decoration: underline;
    }
}

@media screen and (min-width: 768px) {
    section {
        width: 700px;
    }

    
}